<div class="jumbotron main">
  <div class="captions">
    <h1 class="title">Travel First</h1>
    <h2 class="subtitle">Let us hear your story</h2>
    <button class="btn btn-custom" type="button" id="btn-explore">Explore now</button>
  </div>
</div>
<div class="container-fluid" id="content-start">
  <h1>Where would you like to go?</h1>
  <div class="row">
    <% places.each do |place| %>
      <div class="col-lg-3 col-md-4 col-sm-6 tile">
        <%= link_to place_path(place.id) do %>
          <%= image_tag place.teaser.small, alt: place.name %>
        <% end %>
      </div>
    <% end %>
  </div>
  <h2>wait, there's more to <a href="#">explore!</a></h2>
</div>
