.btn-custom, .navbar li > a.btn-custom {
  &, &:focus {
    background-color: $secondary-color;
    color: $almost-white;
  }
  &:hover {
    color: darken($almost-white, 10%);
    background-color: darken($secondary-color, 10%);
  }
}

.navbar li > a.btn {
  padding: 7px 15px;
  display: inline-block;
}

.btn-custom-inv, .navbar li > a.btn-custom-inv {
  &, &:focus {
    background-color: $almost-white;
    color: $secondary-color;
    border-color: $secondary-color;
  }
  &:hover {
    color: darken($secondary-color, 10%);
    border-color: darken($secondary-color, 10%);
    background-color: darken($almost-white, 10%);
  }
}
