.block-input {
  display: block;
}

.full-width-in {
  width: 100%;
}

input, textarea {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 3px;
}

.text-center .form-control {
  width: inherit;
  display: inline;
}

.simple_form {
  margin-bottom: 15px;
}

label {
  display: block;
}

input.file {
  display: inline;
}
