.footer {
  border-top: 3px solid $secondary-color;
  border-radius: 0px;
  padding: 30px 15px;
}

.footer-row.row {
  max-width: 990px;
  margin: 0 auto;
}

.rounded-box {
  border: 3px solid $secondary-color;
  border-radius: 10px;
  padding: 20px;
}

.footer .rounded-box {
  margin: 10px 0;
}

.box-title {
  margin-top: 0;
  margin-bottom: 10px;
}

.footer textarea {
  height: 150px;
  resize: vertical;
  overflow: auto;
}

.ext-links {
  margin: 15px 0;
}

.ext-links img {
  margin: 0 5px;
  height: 32px;
}

.icons {
  font-size: 0.75em;
}
