.navbar {
  margin-bottom: 0;
  border-width: 0;
}

.navbar-brand {
  padding: 8px;
}

.nav > li > button {
  margin-left: 15px;
}

.brand-title {
  vertical-align: middle;
}

.navbar-brand .brand-logo {
  display: inline-block;
  height: 100%;
}
