.navbar {
  margin-bottom: 0;
  border-width: 0;
  border-bottom: 2px solid $secondary-color;
  border-radius: 0px;
}

.navbar-brand {
  padding: 8px;
}

.nav > li > a {
  margin-left: 15px;
}

.brand-title {
  vertical-align: middle;
}

.navbar-brand .brand-logo {
  display: inline;
  height: 100%;
}
