@media (min-width: 768px) {
  .main {
    height: 500px;
  }
  .captions {
    margin-top: 120px;
  }
}
@media (min-width: 992px) {
  .main {
    height: 600px;
  }
  .captions {
    margin-top: 160px;
  }
}
@media (min-width: 1200px) {
  .main {
    height: 700px;
  }
  .captions {
    margin-top: 220px;
  }
}

.main {
  background: image-url('9OKZ9JHGBZ-dark-sm.jpg') no-repeat center;
  background-size: cover;
}

.main .captions {
  display: block;
  text-align: center;
}

.main .title {
  font: 7em $primary-font;
  line-height: 0.9em;
  color: $almost-white;
}

.main .subtitle {
  font: 1.5em $secondary-font;
  text-transform: uppercase;
  margin-bottom: 50px;
  margin-top: -10px;
  color: $almost-white;
}

.tile {
  padding: 7px;
}

.tile img {
  max-width: 450px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tile a {
  display: block;
}
