.place-title {
  background-color: $secondary-color;
  font-size: 2em;
  padding: 0.05em 0.2em;
  color: $almost-white;
  position: absolute;
  top: 40%;
}

.place-teaser {
  & img {
    width: 100%;
  }
}

.place {
  position: relative;
}

.slide-text {
  padding: 10px 20px;
  color: $almost-white;
}

.title {
  font-size: 2em;
  display: inline;
}

.slide {
  background-color: $secondary-color;
  & img {
    padding: 0;
  }
}

.place-arrow {
  margin-right: 10px;
  font-size: 2em;
  vertical-align: sub;
}

@media (min-width: 992px) {
  .slide {
    border-top: 5px solid $secondary-color;
    clear: both;
  }
  .place-arrow {
    display: none;
  }
  .slide:nth-child(odd) .slide-text {
    float: left;
  }
  .slide:nth-child(even) .slide-text {
    float: right;
  }
}

@media (min-width: 600px) {
  .place-title {
    font-size: 3em;
    padding: 0.1em 0.5em;
  }
}

.centered-form {
  display: inline-block;
  margin: 10px;
}

.centered-form textarea {
  height: 150px;
  width: 350px !important;
  resize: vertical;
  overflow: auto;
}

.border-text {
  margin-left: 5px;
  margin-top: -11px;
  background: $almost-white;
  width: 150px;
  & h3 {
    display: inline;
  }
}

.remove-slide {
  margin-right: 10px;
  border-radius: 50%;
  border: 1px solid red;
  vertical-align: text-bottom;
  background: $almost-white;
  color: red;
}

.text-border {
  padding-top: 0;
}

.btn-add-slide {
  border-radius: 50%;
  border: none;
  height: 100px;
  width: 100px;
  color: $almost-white;
  background: $secondary-color;
  font-size: 17px;
  & .glyphicon {
    font-size: 24px;
  }
  & p {
    margin-bottom: 0;
  }
  margin: 20px;
}
