<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to root_path, class: 'navbar-brand' do %>
        <%= image_tag 'logo.svg', alt: 'Travel First', class: 'brand-logo' %>
        <span class="brand-title">Travel First</span>
      <% end %>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="menu">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Explore</a></li>
        <li><a href="#">Map</a></li>
        <li><a href="#">About</a></li>
        <li><button type="button" class="btn btn-custom-inv navbar-btn">Sign up</button></li>
        <li><button type="button" class="btn btn-custom navbar-btn">Log in</button></li>
      </ul>
    </div>
  </div>
</nav>
